a{
    text-decoration: none;
    align-items: center;
}

.movieImg{
    border-radius: 10px;
    height: 300px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.movieImg:hover{
    transform: scale(1.05);
}

.greenMark{
    font-weight: bold;
    font-size: 15px;
    color: rgb(0, 173, 0);
}

.orangeMark{
    font-weight: bold;
    font-size: 15px;
    color: orange;
}

.redMark{
    font-weight: bold;
    font-size: 15px;
    color: red;
}

.greyMark{
    font-style: italic;
    font-size: 13px;
    color: rgb(116, 116, 116);
}

@media screen and (max-width: 600px) {
   a{
    display: flex;
    flex-direction: column;
   }
  }